__pycache__
*.pyc
env/
*.csv
*.CSV
costpro/client/node_modules
costpro/client/package-lock.json
costpro/static/src
costpro/static/src_test
costpro/migrations
costpro/configs
migrations/
pending/*.json